apiVersion: litmuschaos.io/v1alpha1
kind: ChaosEngine
metadata:
    name: nginx-network-chaos
    namespace: default
spec:
    engineState: active
    appinfo:
        appns: litmus
        applabel: app.kubernetes.io/name=chaos-operator
        appkind: deployment
    chaosServiceAccount: pod-network-corruption-sa
    experiments:
        - name: pod-network-corruption-litmus-agent-chaos-operator-chaos-operator
          spec:
            components:
                env:
                    - name: TARGET_CONTAINER
                      value: chaos-operator
