apiVersion: litmuschaos.io/v1alpha1
kind: ChaosEngine
metadata:
    name: nginx-network-chaos
    namespace: default
spec:
    engineState: active
    appinfo:
        appns: litmus
        applabel: app.kubernetes.io/component=operator
        appkind: deployment
    chaosServiceAccount: pod-network-corruption-sa
    experiments:
        - name: pod-network-corruption
          spec:
            components:
                env:
                    - name: TOTAL_CHAOS_DURATION
                      value: "60"
                    - name: CONTAINER_RUNTIME
                      value: docker
                    - name: SOCKET_PATH
                      value: /var/run/docker.sock
                    - name: NETWORK_PACKET_CORRUPTION_PERCENTAGE
                      value: "100"
                    - name: PODS_AFFECTED_PERC
                      value: ""
