apiVersion: litmuschaos.io/v1alpha1
kind: ChaosEngine
metadata:
    name: nginx-network-chaos
    namespace: default
spec:
    engineState: active
    appinfo:
        appns: monitoring
        applabel: app.kubernetes.io/instance=kube-prometheus-stack-prometheus
        appkind: statefulset
    chaosServiceAccount: pod-network-duplication-sa
    experiments:
        - name: pod-network-duplication-prometheus-kube-prometheus-stack-prometheus-config-reloader
          spec:
            components:
                env:
                    - name: TARGET_CONTAINER
                      value: config-reloader
