apiVersion: litmuschaos.io/v1alpha1
kind: ChaosEngine
metadata:
    name: nginx-network-chaos
    namespace: default
spec:
    engineState: active
    appinfo:
        appns: monitoring
        applabel: app.kubernetes.io/version=0.22.2
        appkind: statefulset
    chaosServiceAccount: pod-network-corruption-sa
    experiments:
        - name: pod-network-corruption-alertmanager-kube-prometheus-stack-alertmanager-alertmanager
          spec:
            components:
                env:
                    - name: TARGET_CONTAINER
                      value: alertmanager
