apiVersion: litmuschaos.io/v1alpha1
kind: ChaosEngine
metadata:
    name: nginx-network-chaos
    namespace: default
spec:
    engineState: active
    appinfo:
        appns: oidc-provider
        applabel: app.kubernetes.io/name=dex
        appkind: deployment
    chaosServiceAccount: pod-network-loss-sa
    experiments:
        - name: pod-network-loss-oidc-dex-dex
          spec:
            components:
                env:
                    - name: TARGET_CONTAINER
                      value: dex
