apiVersion: litmuschaos.io/v1alpha1
kind: ChaosEngine
metadata:
    name: nginx-network-chaos
    namespace: default
spec:
    engineState: active
    appinfo:
        appns: litmus
        applabel: app=chaos-exporter
        appkind: deployment
    chaosServiceAccount: pod-network-loss-sa
    experiments:
        - name: pod-network-loss-chaos-exporter-chaos-exporter
          spec:
            components:
                env:
                    - name: TARGET_CONTAINER
                      value: chaos-exporter
