apiVersion: litmuschaos.io/v1alpha1
kind: ChaosEngine
metadata:
    name: nginx-network-chaos
    namespace: default
spec:
    engineState: active
    appinfo:
        appns: litmus
        applabel: app.kubernetes.io/component=litmus-server
        appkind: deployment
    chaosServiceAccount: pod-network-corruption-sa
    experiments:
        - name: pod-network-corruption-litmusportal-server-auth-server
          spec:
            components:
                env:
                    - name: TARGET_CONTAINER
                      value: auth-server
