apiVersion: litmuschaos.io/v1alpha1
kind: ChaosEngine
metadata:
    name: nginx-network-chaos
    namespace: default
spec:
    engineState: active
    appinfo:
        appns: monitoring
        applabel: chart=kube-prometheus-stack-20.0.1
        appkind: deployment
    chaosServiceAccount: pod-network-loss-sa
    experiments:
        - name: pod-network-loss-kube-prometheus-stack-operator-kube-prometheus-stack
          spec:
            components:
                env:
                    - name: TARGET_CONTAINER
                      value: kube-prometheus-stack
