apiVersion: litmuschaos.io/v1alpha1
kind: ChaosExperiment
metadata:
    name: pod-cpu-hog-oidc-dex-dex
    labels:
        name: pod-cpu-hog-exec
        app.kubernetes.io/part-of: litmus
        app.kubernetes.io/component: chaosexperiment
        app.kubernetes.io/version: latest
spec:
    definition:
        scope: Namespaced
        permissions:
            - apiGroups:
                - ""
              resources:
                - pods
              verbs:
                - create
                - delete
                - get
                - list
                - patch
                - update
                - deletecollection
            - apiGroups:
                - ""
              resources:
                - events
              verbs:
                - create
                - get
                - list
                - patch
                - update
            - apiGroups:
                - ""
              resources:
                - configmaps
              verbs:
                - get
                - list
            - apiGroups:
                - ""
              resources:
                - pods/log
              verbs:
                - get
                - list
                - watch
            - apiGroups:
                - ""
              resources:
                - pods/exec
              verbs:
                - get
                - list
                - create
            - apiGroups:
                - apps
              resources:
                - deployments
                - statefulsets
                - replicasets
                - daemonsets
              verbs:
                - list
                - get
            - apiGroups:
                - apps.openshift.io
              resources:
                - deploymentconfigs
              verbs:
                - list
                - get
            - apiGroups:
                - ""
              resources:
                - replicationcontrollers
              verbs:
                - get
                - list
            - apiGroups:
                - argoproj.io
              resources:
                - rollouts
              verbs:
                - list
                - get
            - apiGroups:
                - batch
              resources:
                - jobs
              verbs:
                - create
                - list
                - get
                - delete
                - deletecollection
            - apiGroups:
                - litmuschaos.io
              resources:
                - chaosengines
                - chaosexperiments
                - chaosresults
              verbs:
                - create
                - list
                - get
                - patch
                - update
                - delete
        image: litmuschaos/go-runner:ci
        imagePullPolicy: Always
        args:
            - -c
            - ./experiments -name pod-cpu-hog-exec
        command:
            - /bin/bash
        env:
            - name: TOTAL_CHAOS_DURATION
              value: "60"
            - name: CPU_CORES
              value: "1"
            - name: PODS_AFFECTED_PERC
              value: ""
            - name: RAMP_TIME
              value: ""
            - name: LIB
              value: litmus
            - name: CHAOS_KILL_COMMAND
              value: kill $(find /proc -name exe -lname '*/md5sum' 2>&1 | grep -v 'Permission denied' | awk -F/ '{print $(NF-1)}')
            - name: TARGET_PODS
              value: ""
            - name: SEQUENCE
              value: parallel
        labels:
            name: pod-cpu-hog-exec
            app.kubernetes.io/part-of: litmus
            app.kubernetes.io/component: experiment-job
            app.kubernetes.io/version: latest
