apiVersion: litmuschaos.io/v1alpha1
kind: ChaosEngine
metadata:
    name: nginx-network-chaos
    namespace: default
spec:
    engineState: active
    appinfo:
        appns: monitoring
        applabel: app.kubernetes.io/name=grafana
        appkind: deployment
    chaosServiceAccount: pod-network-latency-sa
    experiments:
        - name: pod-network-latency-kube-prometheus-stack-grafana-grafana
          spec:
            components:
                env:
                    - name: TARGET_CONTAINER
                      value: grafana
