apiVersion: litmuschaos.io/v1alpha1
kind: ChaosEngine
metadata:
    name: nginx-network-chaos
    namespace: default
spec:
    engineState: active
    appinfo:
        appns: monitoring
        applabel: alertmanager=kube-prometheus-stack-alertmanager
        appkind: statefulset
    chaosServiceAccount: pod-network-latency-sa
    experiments:
        - name: pod-network-latency
          spec:
            components:
                env:
                    - name: TOTAL_CHAOS_DURATION
                      value: "60"
                    - name: NETWORK_LATENCY
                      value: "2000"
                    - name: CONTAINER_RUNTIME
                      value: docker
                    - name: SOCKET_PATH
                      value: /var/run/docker.sock
                    - name: PODS_AFFECTED_PERC
                      value: ""
